<IfModule mod_rewrite.c>
  RewriteEngine On

  # No-WWW
  RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ %{REQUEST_SCHEME}://%1/$1 [R=301]

  # HTTPS
  RewriteCond %{HTTP:X-Forwarded-SSL} !on
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301]
</IfModule>

# -----------------------------------------------------------------------------
# Custom error pages
# -----------------------------------------------------------------------------

ErrorDocument 400 /cgi-bin/http_error.rb?code=400
ErrorDocument 401 /cgi-bin/http_error.rb?code=401
ErrorDocument 403 /cgi-bin/http_error.rb?code=403
ErrorDocument 404 /cgi-bin/http_error.rb?code=404
ErrorDocument 405 /cgi-bin/http_error.rb?code=405
ErrorDocument 406 /cgi-bin/http_error.rb?code=406
ErrorDocument 408 /cgi-bin/http_error.rb?code=408
ErrorDocument 410 /cgi-bin/http_error.rb?code=410
ErrorDocument 411 /cgi-bin/http_error.rb?code=411
ErrorDocument 412 /cgi-bin/http_error.rb?code=412
ErrorDocument 500 /cgi-bin/http_error.rb?code=500
ErrorDocument 501 /cgi-bin/http_error.rb?code=501
ErrorDocument 502 /cgi-bin/http_error.rb?code=502
ErrorDocument 503 /cgi-bin/http_error.rb?code=503
